@import "../styles/custom-properties.css";

.root {
  margin: 2em 4em;
}

.headline {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 7rem 0 1em 0;
  color: #506473;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
}

@media (max-width: 1200px) {
  .root {
    margin: 1em;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.browseMoreNav {
  composes: small from "./typography.module.css";
  margin-top: 1rem;
  text-align: right;

  @nest & a {
    display: inline-block;
    padding: 0.5rem 0;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}
